.button {
    font-size: 10px;
}

.c-openbtn {
    position: relative;
    z-index: 9999;
    /*ボタンを最前面に*/
    cursor: pointer;
    width: 50px;
    height: 50px;
    & span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        width: 60%;
        &:nth-of-type(1) {
            top: 10px;
        }
        &:nth-of-type(2) {
            top: 23px;
        }
        &:nth-of-type(3) {
            top: 36px;
        }
    }
    &.active {
        & span:nth-of-type(1) {
            top: 18px;
            left: 18px;
            transform: translateY(6px) rotate(-45deg);
            width: 70%;
            background-color: $baseColor;
        }
        & span:nth-of-type(2) {
            opacity: 0;
        }
        & span:nth-of-type(3) {
            top: 30px;
            left: 18px;
            transform: translateY(-6px) rotate(45deg);
            width: 70%;
            background-color: $baseColor;
        }
    }
}