// セクション
.c-section {
    &__title {
        text-align: center;
        font-weight: bolder;
        font-size: $font-size_2l;
        margin-bottom: $space_80;
        &::before {
            content: "";
            display: block;
            height: 2px;
            width: 200px;
            margin: 0 auto 30px;
            background-color: $baseColor;
        }
    }
}

@media screen and (max-width: 768px) {
    .c-section {
        &__title {}
    }
}

@media screen and (max-width: 481px) {
    .c-section {
        &__title {}
    }
}