.l-footer {
    width: 100%;
    background-color: #4D4D4D;
    font-size: $font-size_xxl;
    color: rgba(255, 255, 255, 0.87);
    & a {
        color: rgba(255, 255, 255, 0.87);
    }
    &__wrapper {
        padding-bottom: 56px;
        padding-top: 56px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    & .c-navbar {
        max-width: initial;
        width: 384px;
        margin: 0 0 10px auto;
    }
    &__info {
        & .c-logo {
            margin-bottom: 15px;
            width: 60%;
        }
    }
    &__list {
        display: flex;
        font-size: $font-size_xl;
    }
    &__item {
        border: 1px solid rgba(255, 255, 255, 0.12);
        text-align: center;
        margin-left: 10px;
        & a {
            display: inline-block;
            padding: 8px 16px;
            transition: .2s;
            text-align: center;
            &:hover,
            &:hover .fas {
                color: #fff;
                transition: .2s;
                background: $baseColor;
            }
        }
    }
}

@media screen and (max-width: 481px) {
    .l-footer {
        &__wrapper {
            display: block;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__list {
            display: block;
            padding-bottom: 30px;
        }
        &__item {
            margin-bottom: 10px;
            margin-left: initial;
        }
        &__info {
            text-align: right;
        }
    }
}