.l-header {
    background-color: rgb(47, 79, 79, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    &Inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 40px;
        margin: 0 auto;
        max-width: 1200px;
    }
    &__logo {
        color: #fff;
        font-size: $font-size_xxl;
    }
}

@media screen and (max-width: 481px) {
    .l-headerInner {
        padding: 24px;
    }
}